doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- img(src="/images/kodego.png", alt="Example Image", width="300", height="200")
    block content
